/* style.css */
body {
    margin: 0 auto;
    max-width: 800px;
    text-align: left;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

h2 {
    margin-top: 50px;
    font-size: 1.5em;
}

pre code {
    background-color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    display: block;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-x: auto;
}


p {
    font-size: 1em;
    line-height: 1.5em;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

img[alt="Schritt 1"],
img[alt="Schritt 2"],
img[alt="Schritt 3"],
img[alt="Schritt 4"],
img[alt="Schritt 5"],
img[alt="Schritt 6"],
img[alt="Schritt 7"] {
    width: 600px;
    height: 400px;
}

/* Mobile Styles */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    pre code {
        font-size: 12px;
    }

    img[alt="Schritt 1"],
    img[alt="Schritt 2"],
    img[alt="Schritt 3"],
    img[alt="Schritt 4"],
    img[alt="Schritt 5"],
    img[alt="Schritt 6"],
    img[alt="Schritt 7"] {
        width: 100%;
        height: auto;
    }
}