/* style.css */
body {
    margin: 0 auto;
    padding: 5px;
    max-width: 800px;
    text-align: justify;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

h2 {
    margin-top: 50px;
    font-size: 1.5em;
}

pre code {
    background-color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    display: block;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-x: auto;
}


p {
    font-size: 1em;
    line-height: 1.5em;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}
