body {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

h3 {
    margin-top: 50px;
}

pre code {
    background-color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

footer {
    background-color: #007acc;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

