<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="Eine Anleitung zur Installation und Konfiguration eines Minecraft-Servers auf einem Linux-Server, einschließlich der Einrichtung von Java und der Anpassung von Firewall-Regeln.">
    <meta name="keywords" content="Minecraft, Server, Installation, Linux, Java, Firewall, Anleitung">
    <meta name="author" content="Rodrigo Fernandez">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
    </header>
    <main>
        {{ content | safe }}
    </main>
    <footer>
        <p>&copy; 2024 Rodrigo Fernandez</p>
    </footer>
</body>
</html>
